* {
    box-sizing: border-box;
}
body {
    color: #777777;
    width: 960px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
} 
h1 {
    font-size: 24px;
    font-weight: bold;
    font-family: 'Georgia', Times, Times New Roman, serif;
}   
h2 {
    font-size: 24px;
    font-weight: bold;
    color: #4aaaa5;
    font-family: 'Georgia', Times, Times New Roman, serif;
}
h4 {
    font-size: 16px;
    font-weight: bold;
    color: #4aaaa5;
    font-family: 'Georgia', Times, Times New Roman, serif;
    padding-top: 30px;
}
hr {
    color: gray;
    height: 2px;
}   
.topwhitebar {
    padding: 42px;
    margin: 0px;
    background-color: white;
    position: relative;
    border-bottom: 1px solid gray;
}
header {
    background-color: #4aaaa5;
    position: fixed;
    left: 10px;
    top: 0px;
    color: white;
    margin-left: 100px;
    padding: 30px;
}
nav {
    position: fixed;
    left: 650px;
    top: 35px;
}
.wrapper {
    width: 960px;
    padding-top: 34px;
    padding-bottom: 296px;
    margin-bottom: 0px;
    position: relative;  
    background-image: url("https://raw.githubusercontent.com/sstrubberg/Basic-Portfolio/master/assets/images/stonehaven.png");
}
.aboutme {
    background-color: white;
    padding: 28px 28px 28px 28px;
    margin: 0px 360px 0px 112px;
    float: left;
    position: absolute;
    left: 0;
}
.profilepic {
    width: 150px;
    float: left;
    padding-right: 15px;
}
.wordswordswords {
    
    line-height: 150%;
}
.connect {
    background-color: white;
    padding: 0px 20px 20px 20px;
    margin: 0px 114px 0px 639px;
    text-align: center;
}
.social-icons {
    width: 50px;
   
}
.bottomgraybar {
    clear: both;
    padding: 42px;
    margin: 0px;
    background-color: #666666;
    position: relative;
    border-top: 8px solid #4aaaa5;  
}
footer {
    color: rgb(209, 209, 209);
    text-align: center;  
    font-size: 10px;

}